<hr>
<!--
============================================
; Title: Assignment 6.4, EMS Milestone 1-2
; Author: Professor Krasso; Web 340 Code Snippets
; Date: 01 April 18
; Modified By: Robert Sharp
; Description: MongoDB Interface
;===========================================
-->
<footer>

    <p>© SharpTouch 2017-2018</p>

</footer>