<!DOCTYPE html>
<html lang="en">
<!--
============================================
; Title: Assignment 6.4, EMS Milestone 1-2
; Author: Professor Krasso; Web 340 Code Snippets
; Date: 01 April 18
; Modified By: Robert Sharp
; Description: MongoDB Interface
;===========================================
-->
<% include header %>

<body>

<% include navbar %>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Hello, world!</h1>
        <p>This is Robert Sharp's landing index page! If you press 
            ctrl+u, you will see that this landing page pulls from my 
            header.ejs, navbar.ejs, footer.ejs, and scripts.ejs files.
            I hope that I've used code attribution properly as to not
            lose credit. 
        </p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>New</h2>
            <p>Input new data here. You know if you're supposed to input new data or not. </p>
            <p><a class="btn btn-secondary" href="#" role="button">Yes, that's me &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>View</h2>
            <p>View selected employee details here. Be careful!</p>
            <p><a class="btn btn-secondary" href="#" role="button">Got it! &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>List</h2>
            <p>This is the tabular view of employee records. AUTHORIZED PERSONNEL ONLY.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Verified &raquo;</a></p>
        </div>
    </div>

    <% include footer %>
</div>

<% include scripts %>

</body>
</html>