<!--
============================================
; Title: Assignment 6.4, EMS Milestone 1-2
; Author: Professor Krasso; Web 340 Code Snippets
; Date: 01 April 18
; Modified By: Robert Sharp
; Description: MongoDB Interface
;===========================================
-->

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/new">The Data Entry Page</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/list">View Employee Records</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="/view">Read-Only Selected Employee Details</a>
            </li>
        </ul>
    </nav>